body {
	/* color: #ffffff;
	background-color: #F7F5F4;
	
	background-image: url("images/bg.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;*/
	background-color: #fff;
	color: #fff;
}

.bg-navbar {
	background: #1946b4 !important;
}

.mar {
	color: #535353;
}

a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

.navbar {
	padding: 10px 10px;
	border: none;
	border-radius: 0;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
	box-shadow: none;
	outline: none !important;
	border: none;
}

.line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #0F1020;
	margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
	width: 250px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	z-index: 999;
	background: #202030;
	color: #fff;
	transition: all 0.3s;
}

#sidebar.active {
	margin-left: -250px;
}

#sidebar .sidebar-header {
	padding: 20px;
	background: #0F1020;
}

#sidebar ul.components {
	padding: 20px 0;
	border-bottom: 1px solid #0F1020;
}

#sidebar ul p {
	color: #fff;
	padding: 10px;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
	color: #fff;
}

#sidebar ul li a:hover {
	color: #0F1020;
	background: #fff;
}

#sidebar ul li.active>a, a[aria-expanded="true"] {
	color: #fff;
	background: #0F1020;
}

a[data-toggle="collapse"] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #6d7fcc;
}

ul.CTAs {
	padding: 20px;
}

ul.CTAs a {
	text-align: center;
	font-size: 0.9em !important;
	display: block;
	border-radius: 5px;
	margin-bottom: 5px;
}

a.download {
	background: #fff;
	color: #7386D5;
}

a.article, a.article:hover {
	background: #6d7fcc !important;
	color: #fff !important;
}

#content {
	padding: 40px;
	min-height: 100vh;
	transition: all 0.3s;
	position: relative;
	top: 0;
	right: 0;
}

#content.active {
	width: 100%;
}

 /* .button-menu{
	text-shadow: 0px 0px 2px #000000;
} */


.footer {
	grid-area: footer;
	background: #ff9600;
	height: 72px;
	text-align: center;
	vertical-align: middle;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	
}